<!-- dashboard/templates/dashboard/home_old.html -->
<!--<h1>Welcome to the Email App Dashboard</h1>-->
<!--<p>Choose a task:</p>-->

<!--<ul>-->
<!--    <li><a href="{% url 'upload_csv' %}">Upload CSV</a> - Upload a CSV file with email data.</li>-->
<!--    <li><a href="{% url 'schedule_emails' %}">Schedule Emails</a> - Send scheduled emails from the database.</li>-->
<!--    <li><a href="{% url 'authorize_google_sheets' %}">Authorize Google Sheets</a> - Authorize access to Google Sheets.</li>-->
<!--    <li><a href="{% url 'fetch_google_sheet' %}">Fetch Google Sheet</a> - Import data from Google Sheets to the database.</li>-->
<!--</ul>-->
